# NPM
node_modules

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
*.DS_Store
Thumbs.db
.vscode

# Copied from AI Lab
dist/
code/**/.settings
code/**/target
.classpath
*.log
builds
index.html
nginx.conf
redisinsight/db/*.log
redisinsight/db/*.log.*
**/*.zip
!redisgears.linux-bionic-x64.1.0.7.zip
__pycache__
*.iml