@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@font-face {
  font-family: 'TT Trailers';
  src: url('/fonts/TT_Trailers_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root{
  --sl-font: 'Space Grotesk', serif;
}

.link-preview {
  --link-preview-corners: 0.5em;
  --link-preview-padding-inline: 0.75rem;
  /* background-color: floralwhite; */
  /* color: darkblue; */
  font-family: sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.link-preview a {
  /* color: purple; */
  /* font-weight: bold; */
  text-decoration: none;
}

.no-link a{
  text-decoration: none;
  color: inherit;
  pointer-events: none;
}

.sl-steps > li:last-child::after {
  content: none;
}

starlight-theme-select{
  display:none;
}

.social-icons::after {
  display: none;
}

.image-center{
  width: 90%;
  margin: 3% auto;
}


.custom-page-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fixed-link-container {
  bottom: 10px;
  padding: 0.2em var(--sl-sidebar-item-padding-inline);
  border: 1px solid #17181c59;
  border-radius: 6px;
  width: fit-content;
  margin: 6px;
  margin-top: 20%;
  font-size: var(--sl-text-base);
}

.fixed-link {
  display: inline-flex; /* Aligns items horizontally */
  align-items: center; /* Centers items vertically */
  text-decoration: none;
  gap: 0.3rem;
  padding: 5px;
  color:#163341;
  font-size: 14px;
}

@media (prefers-color-scheme: dark) {
  
  .fixed-link-container {
    border: 1px solid var(--sl-color-white);
  }

  .fixed-link {
    color: var(--sl-color-white);
  }
}


.link-icon {
  width: 1em; /* Keep the icon size relative to text */
  height: 1em;
  vertical-align: middle; /* Ensure vertical alignment */
  transform: rotate(-45deg);
  margin-top: 2px;
}

.fixed-link:hover .link-icon {
  transform: rotate(0deg) translateY(-2px);
  margin-top: 5%;
}


/*-- scss:rules --*/
div[data-code-copy="false"] button.code-copy-button {
  display: none;
}


.starlight-aside--note {
  background-color: #e5e5e5;
  --sl-color-asides-border: #163341; ;
}

.starlight-aside__title {
  color:inherit;
}

#finish-lab, #start-lab {
  margin-top: 3%;
}


.cta-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  height: 3.5rem;
  padding: 0 2.5rem;
  border-radius: 0.5rem;
  background-color: #FF4438;
  border: 1px solid #D1281E;
  color: white !important;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  /* transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); */
}

.cta-button:hover {
  background-color: #FF4438;
  border-color: #E4291E;
  /* transform: scale(1.05); */
}

@media (prefers-color-scheme: dark) {
  .cta-button {
    background-color: #351D22;
    border-color: #FF4438;
  }

  .cta-button:hover {
    background-color: #8A221C;
    border-color: #EB352A;
  }
}

.arrow-icon {
  width: 1.25rem;
  height: 1.25rem;
  transition: transform 0.3s ease;
  margin-top: 0 !important;
}

.cta-button:hover .arrow-icon {
  transform: translateX(0.25rem);
}